@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro_FontsOnly-1.009/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro_FontsOnly-1.009/SourceCodePro-Bold.ttf');
  font-weight:bold;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro_FontsOnly-1.009/SourceCodePro-Light.ttf');
  font-weight:light;
}

:root {
  --black-russian:HSL(275, 100%, 3%);
  --burnt-sienna:HSL(15, 75%, 60%);
  --crimson:HSL(357, 87%, 44%);
  --source-code-pro:'Source Code Pro';
}

.all-caps {
  text-transform: uppercase;
}

html {
  overflow-x: hidden;
}

body {
  background-color:var(--black-russian);
}

h1 {
  color:var(--crimson);
  font-size: clamp(1px, 29vh, 29vw);
  font-family: var(--source-code-pro);
  font-weight:light;
  margin: 5vh 5rem;
}