@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro_FontsOnly-1.009/SourceCodePro-Regular.ttf');
  font-weight:400;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro_FontsOnly-1.009/SourceCodePro-Semibold.ttf');
  font-weight:600;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro_FontsOnly-1.009/SourceCodePro-Light.ttf');
  font-weight:300;
}

//variables
$source-code-pro:'Source Code Pro';

//colors taken from colors.co
$floral-white:HSL(48, 88%, 98%);
$prussian-blue:HSL(203, 100%, 16%);
$xiketic:HSL(275, 100%, 3%);

html {
  overflow-x: hidden;
  overscroll-behavior: none;
}
body {
  background-color:$xiketic;
}
h2 {
  font : {
    family: $source-code-pro;
    size: 4rem;
    weight: 400;
  }
  line-height:8rem;
  text-align: center;
}
/* Glyph, by Harry Roberts */

hr {
  background-color: inherit;
  border: none;
  border-top: double medium;
  color: inherit;
  overflow: visible; /* For IE */
  padding: 0;
  text-align: center;
  &:after {
    background-color: inherit;
    content: "§";
    display: inline-block;
    font-size: 1.5em;
    padding: 0 0.25em;
    position: relative;
    top: -0.7em;
  }
}

p {
  font-size: 1.2rem;
  line-height:1.6rem;
  margin-bottom: 1rem;
}
header {
  h1 {
    background: $xiketic 0.5;
    color:$floral-white;
    font-size: clamp(0px, 29vh, 29vw);
    font-family: $source-code-pro;
    font-weight:300;
    padding: 5vh 6vw;
    text-shadow: -1px 2px 4px $xiketic;
  }
  .headshot {
    height: clamp(0px, 90vh, 90vw);
    right: 0;
    padding: 4vh 6vw 6vh 0;
    opacity: 0.5;
    position:fixed;
    top:0;
    z-index: -1;
  }
}
.about {
  background-color:$prussian-blue;
  box-shadow: 0px -1px 6px HSLA(0, 0%, 0%, 0.8);
  color:$floral-white;
}
.projects {
  background-color:$floral-white;
  color:$xiketic;
}

.container {
  background-color: inherit;
  margin: 0 auto;
  padding: 6vh 6vw;
  width: 70%;
}